*.class
*.bin
build
.build
.idea
*.iml
 .gradle/2.2.1/taskArtifacts/cache.properties.lock
 .gradle/2.2.1/taskArtifacts/fileHashes.bin
 .gradle/2.2.1/taskArtifacts/fileSnapshots.bin
s
 .gradle/2.2.1/taskArtifacts/outputFileStates.bin
 .gradle/2.2.1/taskArtifacts/taskArtifacts.bin
 .idea/.name
 .idea/compiler.xml
 .idea/gradle.xml
 .idea/libraries/appcompat_v7_22_2_0.xml
 .idea/libraries/support_v4_22_2_0.xml
 .idea/misc.xml
 .idea/modules.xml
 .idea/workspace.xml
 Salve.iml
 app/app.iml
 build/intermediates/dex-cache/cache.xml
 build/intermediates/gradle_project_sync_data.bin
 local.properties

